{% extends 'blog/base.html' %}
{% block content %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Contact</h1>
        <div>
            <ul>
                <li class="lg:w-2/3 mx-auto leading-relaxed text-base"><b>Phone:</b>&nbsp;(213)256-1090</li>
                <li class="lg:w-2/3 mx-auto leading-relaxed text-base"><b>Email:</b>&nbsp;hunterallen.codes@gmail.com</li>
            </ul>
        </div>
    </div>
  </div>
</section>
{% endblock content %}
